{% assign show_details = true %}
{% if trmnl.plugin_settings.custom_fields_values.show_details == "no" %}
{% assign show_details = false %}
{% endif %}

<div class="layout layout--row layout--top">
  <div class="columns">
    <div class="column" data-list-limit="true" data-list-hidden-count="true">
      <div class="label label--underline mb--2">Today</div>
      {% if reminders %}
        {% for item in reminders %}
          {% render "reminder_v2_item", item: item, show_details: show_details %}
        {% else %}
          <span class="description">No reminders for today.</span>
        {% endfor %}
      {% elsif today.name or today.title or today.n %}
        {% assign item = today %}
        {% render "reminder_legacy_item", item: item, show_details: show_details %}
      {% else %}
        {% for item in today %}
          {% render "reminder_legacy_item", item: item, show_details: show_details %}
        {% else %}
          <span class="description">No reminders for today.</span>
        {% endfor %}
      {% endif %}
    </div>

    <div class="column" data-list-limit="true" data-list-hidden-count="true">
      <div class="label label--underline mb--2">Upcoming</div>
      {% if future.name or future.title or future.n %}
        {% assign item = future %}
        {% render "reminder_legacy_item", item: item, show_details: show_details %}
      {% else %}
        {% for item in future %}
          {% render "reminder_legacy_item", item: item, show_details: show_details %}
        {% else %}
          <span class="description">No upcoming reminders.</span>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

{% render "title_bar", trmnl: trmnl, list_name: list_name, data_time: data_time %}
